<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!-- App name shown on home screen -->
  <key>CFBundleDisplayName</key>
  <string>Coucou</string>
  <key>CFBundleName</key>
  <string>Coucou</string>

  <!-- Required to load Twitter/TikTok/Youtube -->
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
  </dict>
</dict>
</plist>
